$text: black;
$bg: white;
$link: #005b99;
$date: gray;
$visited: #663399;

$size: 1rem;
$mobile: 1000px;

$font: "MontserratVariable",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";