@import "../var.scss";

.content {
    padding-bottom: $size;
}

.content__heading {
    font-size: calc($size * 3);
    font-weight: bold;
}

.content__date {
    font-size: calc($size * 1.2);
    font-weight: bold;

    color: $date;
}

.content__category {
    font-size: calc($size * 1.2);
    font-weight: bold;
    text-decoration: none;

    color: $link;

    &:visited {
        color: $link;
    }

    &:hover {
        text-decoration: none;
    }
}

// inner contents without BEM
.content img {
    width: 100%;
}